body{
    background-color: blanchedalmond;
    color: darkgoldenrod;
}

header{
    width: 100%;
    color: darkred;
    text-align: center;
    padding: 5px;
}

nav{
    line-height: 30px;
    height: 400px;
    width: 25%;
    padding: 5px;
    float: left;
}

main{
    width: 50%;
    height: 400px;
    padding: 5px;
    float: left;
}

aside{
    line-height: 30px;
    width: 25%;
    height: 400px;
    float: right;
    overflow: hidden;
    padding: 5px;
}

footer{
    text-align: center;
    height: 10%;
    width: 100%;
    clear: both;
}

.htgClass{
    text-align: center;
}