body{
    background-color: white;
    background-image: linear-gradient(90deg, white 0%, #2eacd4 100%);
    font-size: 16px;
}

.button {
    width: 150px;
    height: 30px;
    background-color: white;
    border-radius: 12px;
    border-color: lightblue;
    font-family: 'Times New Roman', Times, serif;
    font-size: 18px;
}

.longButton {
    width: 250px;
    height: 30px;
    background-color: white;
    border-radius: 12px;
    border-color: lightblue;
    font-family: 'Times New Roman', Times, serif;
    font-size: 18px;
}

.crapsButton {
    width: 150px;
    height: 30px;
    background-color: white;
    border-radius: 12px;
    border-color: red;
    font-family: 'Times New Roman', Times, serif;
    font-size: 18px;
}